<p id="notice"><%= notice %></p>

<h1>Programming Languages</h1>

  <table>
    <thead>
<!--       <tr>
        <th>Title</th>
        <th>Language</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr> -->
    </thead>

    <tbody>
    <% @languages.each do |language| %>
        <h3 class="subjects"><%= link_to language.title , {:action => "content", :id => language.id}%></h3>
        <br>
      <% end %>

    </tbody>
  </table>
<br>

<%= link_to 'Add New Commands', new_code_path %>
